sentence-transformers==2.7.0
transformers>=4.40,<5.0
tokenizers>=0.19,<0.21
torch
faiss-cpu
numpy
pandas
sentencepiece
protobuf
google-genai
python-dotenv
datasets
accelerate
scikit-learn
matplotlib
seaborn
ollama
dash
